## Deliverable 2. Create a Customer Travel Destinations Map.

In [21]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [22]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Geraldton,AU,-28.7667,114.6000,97.21,17,100,21.85,overcast clouds
1,1,Aklavik,CA,68.2191,-135.0107,0.32,95,100,21.65,snow
2,2,Bethel,US,41.3712,-73.4140,41.99,69,7,1.01,clear sky
3,3,Port Alfred,ZA,-33.5906,26.8910,70.52,84,93,1.72,overcast clouds
4,4,Waddan,LY,29.1614,16.1390,56.55,37,97,5.61,overcast clouds

In [23]:
# 2. Prompt the user to enter minimum and maximum temperature criteria =
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 100

In [24]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Geraldton,AU,-28.7667,114.6000,97.21,17,100,21.85,overcast clouds
1,1,Aklavik,CA,68.2191,-135.0107,0.32,95,100,21.65,snow
2,2,Bethel,US,41.3712,-73.4140,41.99,69,7,1.01,clear sky
3,3,Port Alfred,ZA,-33.5906,26.8910,70.52,84,93,1.72,overcast clouds
4,4,Waddan,LY,29.1614,16.1390,56.55,37,97,5.61,overcast clouds
5,5,Atuona,PF,-9.8000,-139.0333,78.64,74,78,16.26,broken clouds
6,6,Ajdabiya,LY,30.7554,20.2263,54.61,52,72,9.80,broken clouds
7,7,New Norfolk,AU,-42.7826,147.0587,64.71,29,19,3.62,few clouds
8,8,Castro,BR,-24.7911,-50.0119,65.93,62,46,3.02,scattered clouds
10,10,Cape Town,ZA,-33.9258,18.4232,63.01,89,75,1.01,broken clouds

In [25]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [26]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Geraldton,AU,-28.7667,114.6000,97.21,17,100,21.85,overcast clouds
1,1,Aklavik,CA,68.2191,-135.0107,0.32,95,100,21.65,snow
2,2,Bethel,US,41.3712,-73.4140,41.99,69,7,1.01,clear sky
3,3,Port Alfred,ZA,-33.5906,26.8910,70.52,84,93,1.72,overcast clouds
4,4,Waddan,LY,29.1614,16.1390,56.55,37,97,5.61,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
703,703,Bournemouth,GB,50.7205,-1.8795,48.76,96,56,5.21,broken clouds
704,704,Port Hawkesbury,CA,45.6169,-61.3485,35.19,96,90,10.00,light snow
705,705,Bruntal,CZ,49.9884,17.4647,20.79,79,5,1.28,clear sky
706,706,Zelenogorskiy,RU,55.0333,87.0000,10.92,99,93,0.74,overcast clouds
707,707,Aripuana,BR,-9.1667,-60.6333,74.98,98,100,2.21,heavy intensity rain

In [27]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Geraldton,AU,97.21,overcast clouds,-28.7667,114.6000,
1,Aklavik,CA,0.32,snow,68.2191,-135.0107,
2,Bethel,US,41.99,clear sky,41.3712,-73.4140,
3,Port Alfred,ZA,70.52,overcast clouds,-33.5906,26.8910,
4,Waddan,LY,56.55,overcast clouds,29.1614,16.1390,
5,Atuona,PF,78.64,broken clouds,-9.8000,-139.0333,
6,Ajdabiya,LY,54.61,broken clouds,30.7554,20.2263,
7,New Norfolk,AU,64.71,few clouds,-42.7826,147.0587,
8,Castro,BR,65.93,scattered clouds,-24.7911,-50.0119,
10,Cape Town,ZA,63.01,broken clouds,-33.9258,18.4232,

In [28]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [33]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Geraldton,AU,97.21,overcast clouds,-28.7667,114.6000,Broadwater Mariner Resort
1,Aklavik,CA,0.32,snow,68.2191,-135.0107,Aklavik Inn
2,Bethel,US,41.99,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,Port Alfred,ZA,70.52,overcast clouds,-33.5906,26.8910,The Halyards Hotel
4,Waddan,LY,56.55,overcast clouds,29.1614,16.1390,محل الشريف محمد العايب

In [34]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [35]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [37]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))